# https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-configuration-settings
[defaults]
# Sets default inventory file ansible searches for to `inventory.yaml`
INVENTORY = inventory.yaml
# Don't use this in production unless you known what you are doing.
HOST_KEY_CHECKING = false
