---
- hosts: all
  become: true
  tasks:
    - name: Update apt cache if needed.
      ansible.builtin.apt:
        update_cache: true

    - name: Ensure desired packages are installed.
      ansible.builtin.apt:
        name: "{{ item }}"
        state: present
      with_items:
        - cron
        - tmux
        - ncdu

    - name: Ensure desired services are started and enabled.
      ansible.builtin.service:
        name: "{{ item }}"
        state: started
        enabled: true
      with_items:
        - cron

